<!DOCTYPE html>
<html>
  <head>
    <title>WeGotThisWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Taviraj&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('we-got-this-logo.png') %>
 </head>

  <body class="text-center">
    <%= yield %>
  </body>
</html>
